@import "variables";
@import "donate";
@import "header";
@import "footer";


body {
  background-color: #ebdcbb;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  line-height: 1.6;
}

.desk {
  display:block;
  @media(max-width:800px) and (orientation:portrait){
    display:none;
  }
}

.mob {
  display:none;
  @media(max-width:800px) and (orientation:portrait){
    display:block;
  }
}


header {
  color: #897c6b;
  margin-bottom:100px;

  img {
    width:100%;
    margin-bottom: 50px;
  }


  #subtitle {
    font-weight: normal;
    width:50%;
    max-width:1000px;
    margin:0 auto;
    font-size: 30px;
    @media(max-width:800px){
      width:90%;
    }
  }

  #credits {
    font-weight: normal;
    text-align: right;
    width:50%;
    max-width:1000px;
    margin:30px auto;
    font-size: 16px;
    @media(max-width:800px){
      width:90%;
    }
  }
}


/* --- головний блок --- */

main {
  img {
    width:100%;
    margin: 50px 0;
  }

  a {
    text-decoration: none;
    color:inherit;
    padding-bottom: 2px;
    border-bottom: 2px dashed #ff4f0d;
  }

}

.textContainer {
  color: #897c6b;
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  @media(max-width:800px){
    width:90%;
  }
}



/* ---- постер завантажити ---*/
#poster {
  margin-top:80px;
  padding:20px;
  background-color: #897c6b;
  @media(max-width:800px){
    padding:10px;
  }


  a {
    text-decoration: none;
    color: #ebdcbb;
  }

  a:hover {
    text-decoration: none;
    color: lighten(#ff4f0d, 10%);
  }


  #download-poster {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 800;
    padding:10px 15px;
    width:max-content;
    margin:50px auto;
    color: #ebdcbb;
    text-transform: uppercase;
    font-size:20px;
    border: 2px solid #ebdcbb;
    @media(max-width:800px){
      width:90%;
      font-size:15px;
      margin:10px auto;

    }
  }

  img {
    width:50%;
    margin:auto 25% 100px 25%;
    @media(max-width:800px){
      width:100%;
      margin:10px auto;
    }
  }
}



